:root {
  --color-primary: #6b74e6;
  --color-primary-light: #747bdd;
  --color-grey-light-1: #faf9f9;
  --color-grey-light-2: #e6e6e6;
  --color-grey-light-3: #e4e3e3;
  --color-grey-light-4: #cccccc;
  --color-grey-dark-1: #333;
  --color-grey-dark-2: #777;
  --color-grey-dark-3: #999;
  --shadow-dark-1: 0 .5rem 1rem rgba(0,0,0,.3);
  --shadow-dark-2: 0 .5rem 1rem rgba(0,0,0,.45); }

* {
  margin: 0;
  padding: 0; }

*,
*::before,
*::after {
  box-sizing: inherit; }

html {
  box-sizing: border-box;
  font-size: 62.5%; }

body {
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  line-height: 1.6; }

.container {
  width: 100%; }

.header {
  height: 7rem;
  width: 100%;
  border-bottom: 1px solid rgba(0, 0, 0, 0.3); }
  .header__inside {
    height: 100%;
    width: 100%;
    max-width: 1400px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center; }

.content {
  display: flex;
  height: 100rem;
  width: 100%;
  max-width: 1400px;
  margin: 0 auto; }

.sidebar {
  flex: 0 0 16%;
  display: flex;
  flex-direction: column;
  border-right: 1px solid var(--color-grey-light-4); }

.logo {
  display: flex;
  align-items: center;
  font-size: 1.8rem;
  cursor: pointer; }
  .logo__left {
    color: #fff;
    padding: .2rem;
    margin-right: .85rem;
    background-color: var(--color-primary);
    border-radius: 4px;
    text-align: center;
    font-size: inherit; }
  .logo__arrow {
    color: var(--color-grey-dark-3);
    font-size: inherit; }

.search {
  flex: 0 0 40%;
  display: flex;
  justify-content: center;
  align-items: center; }
  .search__input {
    font-family: inherit;
    font-size: inherit;
    color: inherit;
    background-color: var(--color-grey-light-2);
    border: none;
    padding: .85rem 2rem;
    border-radius: 4px;
    width: 90%;
    margin-right: -3.2rem;
    transition: all .22s; }
    .search__input:focus {
      outline: none;
      width: 100%;
      background-color: var(--color-grey-light-3); }
    .search__input::-webkit-input-placeholder {
      font-weight: 500;
      color: var(--color-grey-light-4); }
  .search__input:focus + .search__button {
    color: var(--color-grey-dark-2); }
  .search__button {
    border: none;
    background-color: var(--color-grey-light-2); }
    .search__button:focus {
      outline: none; }
    .search__button:active {
      transform: translateY(2px); }
  .search__icon {
    height: 2rem;
    width: 2rem;
    color: var(--color-grey-dark-3); }

.user-nav {
  display: flex;
  align-items: center; }
  .user-nav__left, .user-nav__right {
    display: flex;
    align-items: center; }
  .user-nav__right {
    margin-left: 4rem; }
  .user-nav__date {
    font-size: 1.1rem;
    color: var(--color-grey-dark-3);
    margin-right: 1rem; }
  .user-nav__icon {
    height: 2rem;
    width: 2rem;
    fill: var(--color-grey-dark-3); }
  .user-nav__icon-box {
    position: relative; }
  .user-nav__notification {
    height: 1.2rem;
    width: 1.2rem;
    position: absolute;
    top: -.2rem;
    right: -.2rem;
    color: #fff;
    background-color: var(--color-primary);
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center; }
  .user-nav__name {
    font-size: 1.5rem; }
  .user-nav__user-photo {
    height: 3.7rem;
    width: 3.7rem;
    border-radius: 50%;
    margin-left: 1rem; }
  .user-nav__user-arrow {
    color: black;
    font-size: 1.6rem;
    margin-left: .5rem; }

.sidebar__button {
  margin: 3.5rem 3rem;
  padding: 1rem .4rem;
  border-radius: 4px;
  font-size: 1.3rem;
  color: #fff;
  background-color: var(--color-primary);
  border: none;
  box-shadow: var(--shadow-dark-1);
  font-weight: 500;
  cursor: pointer;
  transition: all .2s; }
  .sidebar__button:focus {
    outline: none; }
  .sidebar__button:active {
    transform: translateY(2px);
    box-shadow: var(--shadow-dark-2); }

.side-nav {
  font-size: 1.4rem;
  list-style: none;
  margin-top: 1rem;
  color: var(--color-grey-dark-3); }
  .side-nav__item {
    position: relative;
    transition: color 1.5s; }
    .side-nav__item:not(:last-child) {
      margin-bottom: .5rem; }
  .side-nav__item::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 3px;
    background-color: var(--color-primary);
    transform: scaleY(0);
    transition: transform 0.2s, width 0.4s cubic-bezier(1, 0, 0, 1) 0.2s, background-color 0.15s; }
  .side-nav__item:hover::before {
    transform: scale(1);
    width: 100%; }
  .side-nav__item:active::before {
    background-color: var(--color-primary-light); }
  .side-nav__item:hover {
    color: #fff; }
  .side-nav__link:link, .side-nav__link:visited {
    display: flex;
    align-items: center;
    color: inherit;
    text-decoration: none;
    padding: 1.3rem 3rem 1.5rem 1.1rem;
    position: relative;
    z-index: 10; }
  .side-nav__icon {
    margin-right: 2rem; }

.info {
  width: 100%;
  border-left: 1px solid rgba(0, 0, 0, 0.2);
  display: flex;
  flex-direction: column;
  justify-content: space-between; }
  .info__selected {
    margin-top: 2rem;
    padding: 2rem 0 3.5rem 3rem;
    border-bottom: 1px solid rgba(0, 0, 0, 0.4); }
    .info__selected--h4 {
      font-size: 1.3rem;
      font-weight: 100;
      margin-bottom: 0;
      line-height: .5; }
    .info__selected--h2 {
      font-weight: 400;
      font-size: 2rem; }

.projects__title {
  margin: 2rem 0 3rem 3rem;
  font-size: 2rem;
  font-weight: 400; }

.projects__statics {
  display: flex;
  margin-left: 3rem;
  margin-bottom: 5rem; }
  .projects__statics--title {
    text-transform: uppercase;
    color: var(--color-grey-light-4);
    font-size: 1rem; }
  .projects__statics--number {
    font-size: 1.8rem;
    border-left: 3px solid blue;
    padding-left: 1rem; }
  .projects__statics--color2 {
    border-color: green; }
  .projects__statics--color3 {
    border-color: orange; }
  .projects__statics--color4 {
    border-color: aqua; }

.projects__right {
  margin-left: 6rem; }

.messages {
  display: flex;
  border-top: 1px solid rgba(0, 0, 0, 0.4);
  padding: 4rem 0; }
  .messages__icon {
    padding: 1rem;
    color: #fff;
    background-color: var(--color-primary);
    border-radius: 7px;
    margin-left: 3rem;
    position: relative; }
  .messages__icon::before {
    content: "";
    height: 12px;
    width: 12px;
    border-radius: 50%;
    background-color: #fff;
    border: 3px solid #78b61b;
    position: absolute;
    top: -3px;
    right: -5px;
    z-index: 10; }
  .messages__icon::after {
    content: "";
    height: 14px;
    width: 14px;
    border-radius: 50%;
    background-color: #fff;
    position: absolute;
    top: -3px;
    right: -5px; }
  .messages__text {
    margin-left: 1rem; }
    .messages__text > h4 {
      margin-top: 1rem;
      text-transform: uppercase;
      color: var(--color-grey-dark-3);
      line-height: .8;
      font-size: .9rem; }
  .messages__internal > p {
    line-height: 1.6;
    font-size: 1.2rem;
    font-weight: 500; }
  .messages__internal > span {
    color: var(--color-grey-dark-2);
    font-size: 1.4rem; }
  .messages__internal {
    display: flex;
    align-items: center; }

.dashboard {
  flex: 0 0 65%;
  background-color: #fff;
  padding: 3rem; }
  .dashboard__l1 {
    display: flex;
    justify-content: space-between;
    align-items: center; }
  .dashboard__l2 {
    display: flex;
    justify-content: space-between; }

.l1-list {
  list-style: none;
  display: flex; }
  .l1-list__item:not(:first-child) {
    padding-left: 1rem; }

.l2-list {
  list-style: none;
  display: flex; }
  .l2-list__item:not(:first-child) {
    padding-left: 1rem; }
