:root {
  --color-primary: #6b74e6;
  --color-primary-light: #747bdd;

  --color-bar-1: #3741ce;
  --color-bar-2: #5372c5;
  --color-bar-3: #74aadd;

  --color-grey-light-1: #faf9f9;
  --color-grey-light-2: #e6e6e6;
  --color-grey-light-3: #e4e3e3;
  --color-grey-light-4: #cccccc;

  --color-grey-dark-1: #333;
  --color-grey-dark-2: #777;
  --color-grey-dark-3: #999;

  --shadow-dark-1: 0 .5rem 1rem rgba(0,0,0,.3);
  --shadow-dark-2: 0 .5rem 1rem rgba(0,0,0,.45);
}

* {
  margin: 0;
  padding: 0;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
  font-size: 62.5%; // 1rem = 10px
}

body {
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  line-height: 1.6;
}
