.container {
    width: 100%;
}

.header {
    height: 7rem;
    width: 100%;
    border-bottom: 1px solid rgba($color: #000000, $alpha: .3);

    &__inside {
        height: 100%;
        width: 100%;
        max-width: 1200px;
        margin: 0 auto;

        display: flex;
        justify-content: space-between;
        align-items: center;
    }
}
